.spacer {
  padding-left: 1089px;
  margin-top: 11px;
  }

  .content {
    padding: 24px;
  }

  

  .toolBarStyle {
    background-color: #0c3a42;
    position: relative;
    z-index: 5;
  }

  mat-sidenav-container {
    height: calc(100vh - 64px);
  }

  .sidenav {
    width: 59px;
    background-color: #0c3a42;
  }

  .header {
    font-size: 18px;
    margin-bottom: -13px;
    margin-top: 9px;
    text-transform: uppercase;
  }

  .SubHeader {
    font-size: 11px;
    margin-left: 8px;
  }