<div class="container">
  <form class="innerContainer">
    <div class="title">{{headerText}}</div>
    <div class="form-group field">
      <label>{{labelTravelOrigin}}</label>

      <select [(ngModel)]="selectedOrigincountry" class="col-sm-12 col-md-12 inputStyle" id="Origin" name="countries">
        <option *ngFor="let country of countries;" [ngValue]="country">{{country.name}}</option>
      </select>
    </div>

    <div class="form-group field">
      <label>{{labelTravelDestination}}</label>
      <select [(ngModel)]="selectedDestinationCountry" class="col-sm-12 col-md-12 inputStyle" id="destination"
        name="countries">
        <option *ngFor="let country of countries;" [ngValue]="country">{{country.name}}</option>
      </select>
    </div>

    <div class="row form-group field">
      <div class="col-sm-6 col-md-6">
        <label class="dateLabel">{{labelArrival}}</label>
        <mat-form-field class="col-sm-12 col-md-12 datepicker inputStyle">
          <mat-label *ngIf="showArrivalPlaceHolder" class="labelDate">{{ArrivalDate}}</mat-label>
          <input matInput [matDatepicker]="arrivalPicker" [min]="today" (dateInput)="arrivalEvent('input', $event)"
            (dateChange)="arrivalEvent('change', $event)">
          <mat-datepicker-toggle matIconSuffix [for]="arrivalPicker"></mat-datepicker-toggle>
          <mat-datepicker #arrivalPicker class="labelDate"></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-sm-6 col-md-6>">
        <label class="dateLabel">{{labelDeparture}}</label>
        <mat-form-field class="col-sm-12 col-md-12 datepicker inputStyle">
          <mat-label *ngIf="showDeparturePlaceHolder" class="labelDate">{{departureDate}}</mat-label>
          <input matInput [matDatepicker]="departurePicker" [min]="minDepartureDate"
            (dateInput)="departureEvent('input', $event)" (dateChange)="departureEvent('change', $event)">
          <mat-datepicker-toggle matIconSuffix [for]="departurePicker"></mat-datepicker-toggle>
          <mat-datepicker #departurePicker class="labelDate"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>


    <div class="form-group field">
      <label>{{labelPurposeOfTravel}}</label>
      <select [(ngModel)]="selectedPurpose" class="col-sm-12 col-md-12 inputStyle" id="TravelPurpose" name="Purpose">
        <option *ngFor="let purpose of purposeOfTravel;" [ngValue]="purpose">{{purpose.name}}</option>
      </select>
    </div>

    <div class="form-group field">
      <label>{{labelAddTravellers}}</label>
      <div>
        <input type="text" class="inputStyle border" [(ngModel)]="selectedSearchItem" [typeahead]="searchItems"
          placeholder="Search">
        <mat-icon class="search">search</mat-icon>
      </div>
    </div>

  </form>
</div>